## move this file to upper level directory

./account/*
./jobmanager/*
./notifier/*
./spacemanager/*
./apiglobal/*
./enginemanager/*
./loader/*
./observer/*
./apiserver/*
./glog/*
./logmanager/*
./resourcemanager/*
./common/*
./gproto/*
./multus-cni
./scheduler/*

!./spacemanager/scripts/sql/schema/
!./jobmanager/scripts/sql/schema/
!./resourcemanager/scripts/sql/schema/
!./notifier/scripts/sql/schema/
!./account/scripts/sql/schema/
!./enginemanager/scripts/sql/schema/

./deploy/*
!./deploy/tmp/*
!./deploy/build/db/*